streamlit>=1.32.0
langchain>=0.1.13
langchain-core
langchain-text-splitters
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai
langchain-huggingface
sentence-transformers
chromadb>=0.4.24
pypdf>=4.1.0
pydantic>=2.6.4
pydantic-settings>=2.2.1
reportlab
